@media (width <= 910px) {
    header .menu-desktop, header .btn-contato{
        display: none;
    }
    
} 

@media(width <= 813px) {
    /* Responsivo da hero */
    .hero-site .txt-hero h1 {
    font-size: 2.6em;
    line-height: 45px;
}

.hero-site .txt-hero p {
    font-size: 20px;
}

.hero-site .txt-hero p span {
    display: inline;
}

.hero-site button {
    font-size: 15px;
}
/* Fim responsivo do hero */

/* Estilo responsivo das vantagens */
.vantagens .itens-container {
   flex-direction: column;
}

.vantagens .itens-container .img-itens img {
    width: 100%;
}

.vantagens .itens-container .txt-itens p {
    margin-bottom: 20px;
}

.vantagens .itens-container .item-1 {
    order: 1;
}

.vantagens .itens-container .item-2 {
    order: 0;
}
/* Fim do estilo responsivo das vantagens */

/* Estilo dos botões de contato */
    .txt-contato, .icons-contato {
    display: block;
    width: 100%;
    
    }

    .contato .txt-contato h3 {
        font-size: 2em;
        line-height: 40px;
        text-align: center;

    }

    .contato .txt-contato p {
       margin-bottom: 20px;
        text-align: center;
    }

    .contato .icons-contato button{
       width: 100%;
    }
/* Fim do estilo botões de contato */


/*  Estilo da sessão hotéis */
    .hoteis h3 {
        font-size: 2.3em;
        line-height: 40px;
    }

    .hoteis p {
        font-size: 16px;
        margin: 20px 0;
    }
/* Fim do estilo sessão hotéis */

/*  Estilo da sessão como funciona */
    .txt-funciona, .instrucoes {
    display: block;
    width: 100%;
    }

    .como-funciona .txt-funciona {
        position: static;
    }

    .como-funciona .txt-funciona h3 {
        font-size: 3em;
        line-height: 50px;
        text-align: center;
    }

    .instrucoes .instru-box {
        flex-direction: column;       
        text-align: center;
    }

    .instrucoes .instru-box img {
        max-width: 100px;
    }
    /* Fim da sessão como funciona */

    /*  Estilo do rodapé */
    footer .middle-footer a {
        margin: 15px 0;
        display: block;
    }

    footer .bottom-footer p {
        font-size: 14px;
    }
}


