:root{
    --primary-color: #ffffff;
    --secondary-color: #000000;
    --third-color:  burlywood;
    --font-text: "Poppins", sans-serif;
}

body {
    background-color: var(--third-color);
}

.interface {  /* Classe genérica para centralizar o conteúdo */
    max-width: 1280px;
    margin: 0 auto; 
    padding: 0 4%;
}

/* Estilo do header */
header {
    width: 100%;    
    padding: 40px 0;
    position: fixed;
    top: 0;
    left: 0;
    transition: .5s;
    z-index: 5;
}

header .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo img {
    max-width: 100px;
}
/* Fim do estilo header */

/* Início estilo do menu dinâmico  */

header .logo img.logo-preta {
    display: none;
}   

header.rolar{
    background-color: var(--third-color);
    padding: 0 20px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.661);
}

header.rolar .menu-desktop nav ul li a {
    color: var(--secondary-color);
}

header.rolar .btn-contato button  {
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
}

header.rolar .btn-contato button:hover {
    background-color: var(--secondary-color);
    color: var(--third-color);
}

header.rolar .logo .logo-branca {
    display: none;
}

header.rolar .logo .logo-preta {
    display: block;
}
/* Fim estilo do menu dinâmico  */

header .menu-desktop nav ul {
    list-style-type: none;
}

header .menu-desktop nav ul li {
    display: inline-block;
    margin: 0 40px;
}

header .menu-desktop nav ul li a {
    color: var(--primary-color);
    display: inline-block;
    transition: .2s;
}

header .menu-desktop nav a:hover {
    transform: scale(1.05);
}

header .btn-contato button  {
    width: 140px;
    height: 50px;
    font-size: 18px;
    background-color: transparent;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    cursor: pointer;
    transition: .5s;
}

header .btn-contato button:hover {
    background-color: var(--primary-color);
    color: var(--third-color);
    transition: .2s;
}

/* Início do estilo botão mobile */
header .btn-menu-mob{
    display: none;
    cursor: pointer;
    position: relative;
    z-index: 6;
} 

header .btn-menu-mob div{
    background-color: var(--primary-color);
    height: 3px;
    margin: 10px 0 ;
    transition: .2s;
}

header .btn-menu-mob .line-menumob-1{
    width: 30px;
}
header .btn-menu-mob .line-menumob-2{
    width: 20px;
}

header.rolar  .btn-menu-mob div{
    background-color: var(--secondary-color);
}

header .btn-menu-mob .line-menumob-1.ativo1{
    transform: rotate(45deg) translate(30%);
    background-color: var(--primary-color);
}       
header .btn-menu-mob .line-menumob-2.ativo2{
    transform: rotate(-45deg)translate(30%);
    background-color: var(--primary-color);
    width: 30px;
}       
/* Fim do estilo menu botão mobile */

/* Início do estilo menu mobile */
header .menu-mobile{
    width: 0;
    height: 0;
    background-color: var(--secondary-color);
    position: absolute;
    top: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    overflow: hidden;
    transition: .5s;
}

header .menu-mobile nav{
    width: 100%;
}

header .menu-mobile nav ul {
    list-style-type: none;
}

header .menu-mobile nav a{
    font-size: 24px;
    color: var(--primary-color);
    padding: 20px 0;
    display: block;
    transition: .5s;
}

header .menu-mobile nav a:hover{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    box-shadow: 0 0 20px var(--primary-color);
}

header .menu-mobile.abrir{
    width: 100%;
    height: 100vh;
}

body.no-overflow{
    overflow: hidden;
}
/* Fim do estilo menu mobile */

/* Estilo do hero */
section.hero-site {
    color: var(--primary-color);
    height: 98vh;  /* 90% da altura da tela, piso falso para induzir o usuário a rolar a página para baixo */
    background-image: url(../images/img-fundo4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}       

.hero-site .interface {
    display: flex;
    align-items: center;
    height: 100%;
}

.hero-site .txt-hero h1 {
    font-size: 4em;
    line-height: 70px;
    font-weight: 200;
}

.hero-site .txt-hero h1 span {
    display: block;
    font-weight: 800;
}

.hero-site .txt-hero p {
    font-size: 20px;
    font-weight: 300;
    margin: 20px 0;
}

.hero-site .txt-hero p span {
    display: block;

}

.hero-site button {
     width: 140px;
    height: 50px;
    font-size: 18px;
    background-color: transparent;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    cursor: pointer;
    transition: .5s;
}

.hero-site button:hover {
    background-color: var(--primary-color);
    color: var(--third-color);
    transition: .2s;
}
/* Fim do estilo hero */

/* Estilo das vantagens */
section.vantagens {
    padding: 80px 0;
    text-align: center;
}

.vantagens .itens-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10%;
    margin-bottom: 60px;
}

.vantagens .itens-container .img-itens img {
    max-width: 480px;
    border-radius: 10px;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.664));
}

.vantagens .itens-container .txt-itens h3 {
    font-size: 3em;
    line-height: 45px;
    margin-bottom: 20px;
}

.vantagens .itens-container .txt-itens h3 span {
    font-weight: 300;
}

.vantagens .itens-container .txt-itens p {
    font-size: 20px;
}

/* Estilo dos botões de contato */
section.contato {
    background-color: var(--primary-color);
    padding: 80px 0;
    color: var();
}

.txt-contato, .icons-contato {
  display: inline-block;
  width: 50%;
  margin-right: -4px;
  vertical-align: middle;
}

.contato .txt-contato h3 {
    color: var(--secondary-color);
    font-size: 2.5em;
    line-height: 45px;
    font-weight: 300;
    margin-bottom: 20px;

}

.contato .txt-contato h3 span {
display: block;
font-weight: 700;
}

.contato .txt-contato p {
    font-size: 20px;
    color: var(--secondary-color);
}

.contato .icons-contato button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    height: 60px;
    margin: 0 auto 20px auto;
    padding: 0 60px;
    background-color: transparent;
    border: 2px solid var(--secondary-color);
    transition: .5s;
    cursor: pointer;
}

.contato .icons-contato button i {
    font-size: 22px;
    color: var(--secondary-color);
}

.contato .icons-contato button:hover {
    background-color: var(--secondary-color);
    color: var(--third-color);
}

.contato .icons-contato button:hover i {
    color: var(--third-color);
}
/* Fim do estilo botões de contato */

/*  Estilo da sessão hotéis */
section.hoteis{
    color: var(--primary-color);
    height: 600px;

    background-image: url(../images/fundo-overlay.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    text-align: center;
}

.hoteis > .overlay {
    background-color: rgba(0, 0, 0, 0.626); /* Cor de sobreposição com transparência */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.hoteis > .interface {
    color: var(--primary-color);
    display: flex;
    position: relative;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 2; /* Garante que o conteúdo fique acima da sobreposição */
}

.hoteis h3 {
    font-size: 3em;
    line-height: 50px;
    font-weight: 200;
}

.hoteis h3 span {
    display: block;
    font-weight: 600;
}

.hoteis p {
    font-size: 20px;
    margin: 20px 0;
    font-weight: 300;
}

.hoteis button {
    width: 220px;
    height: 60px;
    font-size: 18px;
    background-color: transparent;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    cursor: pointer;
    transition: .5s;
}

.hoteis button:hover {
    background-color: var(--primary-color);
    color: var(--third-color);
    transition: .2s;
}
/* Fim do estilo sessão hotéis */

/*  Estilo da sessão como funciona */
section.como-funciona {
    padding: 80px 0;
}

.txt-funciona, .instrucoes {
  display: inline-block;
  width: 50%;
  margin-right: -4px;
  vertical-align: top;
}

.como-funciona .txt-funciona {
    position: sticky;
    top: 50%;
    padding: 40px;
}

.como-funciona .txt-funciona h3 {
    font-size: 4em;
    line-height: 60px;
    font-weight: 300;
}

.como-funciona .txt-funciona h3 span {
    display: block;
    font-weight: 700;
}

.instrucoes .instru-box {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
    border: 2px solid var(--secondary-color);
    padding: 20px;
}

.instrucoes .instru-box img {
    max-width: 100px;
}

.instrucoes .instru-box h4 {
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 10px;
    line-height: 30px;
}

.instrucoes .instru-box h4 span {
    font-weight: 300;
}

.instrucoes .instru-box p {
    line-height: 20px;
}

/*  Estilo do rodapé */
footer {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

footer .top-footer button {
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    width: 60px;
    height: 60px;
    background-color: transparent;
    border-radius: 50%;
    font-size: 24px;
    margin: 0 15px;
    cursor: pointer;
    transition: .3s;
}

footer .top-footer button:hover {
    background-color: var(--primary-color);
    color: var(--third-color);
    transform: scale(1.1); /* Aumenta o tamanho do botão ao passar o mouse  */
}

footer .middle-footer {
    margin: 20px 0;
}

footer .middle-footer a {
    color: var(--primary-color);
    text-decoration: none;
    margin: 0 15px;
    font-weight: 600;
}

footer .bottom-footer {
    border-top: 2px solid var(--primary-color);
}

footer .bottom-footer p {
    color: var(--primary-color);
    margin-top: 10px;
}




